* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.container {
  background-color: #1e2029cb;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.emojis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.emoji {
  font-size: 5.4rem;
  margin: 20px;
  text-align: center;
}
.emoji:hover {
  background-color: #fff;
  color: black;
}
.emoji.active {
  background-color: wheat;
}

small {
  font-size: small;
}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: wheat;
}

p {
  padding: 20px auto;
  margin-bottom: 20px;
  font-weight: bold;
}
